<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body>

    <div class="navbar">
            <h3 class="nav-b"><a href="./index.html"><i class='bx bxs-dashboard'></i>Dashboard</a><br></h3>
            <h3 class="nav-b"><a href="./datos.html"><i class='bx bxs-data'></i>Database</a></h3>
    </div>
    <div>
        <div class="btnconnect" id="btnconnect">
            <button class="boton" id="connectBtn" onclick="openConnection()">Connect</button>
        </div>
    </div>
    <div class="conexion" id="conexion">
        <!-- <div class="runserver">
                            <button class="boton" id="connectBtn" onclick="openConnection()">Connect</button>                
                        </div> -->
        <div class="label">Connection</div>
        <div class="runserver" class="dropdown-z">
            <div class="dropdown">
                <input type="checkbox" id="dropdown">
                <label class="dropdown__face" for="dropdown">
                    <div class="dropdown__text">Ports</div>
    
                    <div class="dropdown__arrow"></div>
                </label>
                <ul class="dropdown__items" id="dropdown__items">
                </ul>
            </div>
        </div>
        <div class="runserver">
            <input type="checkbox" id="switch">
    
            <label for="switch" class="lbl"></label>
        </div>
        <div class="runserver">
            <button class="boton" id="off" onclick="closeConnection()">Stop</button>
        </div>
    </div>
    
    <div class="all">
        
            <div class="cont-cartas">
                <div class="label">Dashboard</div>
                <div class="cont1">
                    <div class="carta">
                        <h3 class="sensor"><i class="bx bxs-thermometer"></i>Temperatura<br />
                            <span class="datas" id="data1">--</span><span>°C</span>
                        </h3>
                    </div>
                    <div class="carta">
                        <h3 class="sensor"><i class="bx bxs-droplet"></i>Humedad<br />
                            <span class="datas" id="data2">--</span><span>%</span>
                        </h3>
                    </div>
                    <div class="carta">
                        <h3 class="sensor"><i class="bx bx-stopwatch"></i>Presión<br />
                            <span class="datas" id="data3">--</span><span>hPa</span>
                        </h3>
                    </div>
                </div>
                <div class="cont2">
                    <div class="carta">
                        <h3 class="sensor"><i class="bx bx-cloud"></i>Gas<br />
                            <span class="datas" id="data4">--</span><span>ppm</span>
                        </h3>
                    </div>
                    <div class="carta">
                        <h3 class="sensor"><i class="bx bxs-cloud"></i>Monóxido<br />
                            <span class="datas" id="data5">--</span><span>ppm</span>
                        </h3>
                    </div>
                    <div class="carta">
                        <h3 class="sensor"><i class="bx bx-sun"></i>UV<br />
                            <span class="datas" id="data6">--</span><span>lx</span>
                        </h3>
                    </div>
                </div>
                <div class="cont3">
                    <div class="carta-g">
                        <h3 class="sensor"><i class="bx bx-sun"></i>Giroscopio<br />
                            <span class="datas" id="data7">--</span><span></span>
                        </h3>
                    </div>
                </div>
            </div>
            
    </div>
    
    <script src="./borrador.js""></script>
    <script>
        function openConnection() {document.getElementById("conexion").style.width = "300px";
    document.getElementById("btnconnect").style.width = "0px";}
        function closeConnection() {document.getElementById("conexion").style.width = "0px";
    document.getElementById("btnconnect").style.width = "auto";}
    </script>
</body>
</html>