<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./home.css" />
    <title>CHASKA-APP</title>
</head>
<body>
    
    
    <div class="main">
        <h1 class="datos"></h1>
        <div class="all">
            <!--<div class="render-c">
                    <div id="contenedor" class="conteiner"></div>
                </div> -->
            <div class="cont-cartas">
                <div class="cont1">
                    <div class="carta">
                        <h3 class="sensor"><i class="bx bxs-thermometer"></i>Temperatura<br />
                            <span class="datas" id="data1"></span><span>°C</span>
                        </h3>
                    </div>
                    <div class="carta">
                        <h3 class="sensor"><i class="bx bxs-droplet"></i>Humedad<br />
                            <span class="datas" id="data2">80%</span><span>%</span>
                        </h3>
                    </div>
                    <div class="carta">
                        <h3 class="sensor"><i class="bx bx-stopwatch"></i>Presión<br />
                            <span class="datas" id="data3">1013 hPa</span><span>hPa</span>
                        </h3>
                    </div>
                </div>
                <div class="cont2">
                    <div class="carta">
                        <h3 class="sensor"><i class="bx bx-cloud"></i>Gas<br />
                            <span class="datas" id="data4">0.1 ppm</span><span>ppm</span>
                        </h3>
                    </div>
                    <div class="carta">
                        <h3 class="sensor"><i class="bx bxs-cloud"></i>Monóxido<br />
                            <span class="datas" id="data5">360 ppm</span><span>ppm</span>
                        </h3>
                    </div>
                    <div class="carta">
                        <h3 class="sensor"><i class="bx bx-sun"></i>UV<br />
                            <span class="datas" id="data6">100000 lx</span><span>lx</span>
                        </h3>
                    </div>
                </div>
                <div class="cont3">
                    <div class="carta-g">
                        <h3 class="sensor"><i class="bx bx-sun"></i>Giroscopio<br />
                            <span class="datas" id="data7">R:0° P:5° Y:-2°</span><span></span>
                        </h3>
                    </div>
                </div>
                <div class="runserver">
                    <button class="boton" id="connectBtn">Connect</button>
                    <button class="boton" id="off">Stop</button>
                    
                </div>
                <div class="runserver">
                    <input type="checkbox" id="switch">

                    <label for="switch" class="lbl"></label>
                </div>
            </div>
        </div>
        <!-- <script src="/socket.io/socket.io.js"></script>
        <script type="module" src="render.js"></script>
        <script type="script" src="./boton.js"></script> -->
    </div>
    <a href="datos.html">base de datos de prueba</a>
    <ul id="l_collection">hola</ul>
    <!-- <script type="module" src="./home.js"></script> -->
    <script src="./borrador.js"></script>
</body>
</html>